<form method="post" action="{{ path('admin.model.delete', {'id': model.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce modèle ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ model.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>