<form method="post" action="{{ path('admin.wharehouse.delete', {'id': wharehouse.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet entrepôt ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wharehouse.id) }}">

    <button class="btn btn-danger">Supprimer</button>
</form>