{% extends 'base.html.twig' %}

{% block title %}Modifier un entrepôt{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h3 class="mb-4">Modifier un entrepôt</h3>
        <div class="w-25 mb-2">
            <label>Adresse</label>
            {{ include('admin/wharehouse/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
        </div>
        {{ include('admin/wharehouse/_delete_form.html.twig') }}
        <div class="login-content"></div>

        <div class="flex-div">
             <a class="btn btn-primary mt-2" href="{{ path('admin.wharehouse.index') }}">Retour</a>

        </div>
    </div>


{% endblock %}
