{% extends 'base.html.twig' %}

{% block title %}Éditer un produit{% endblock %}

{% block body %}

<body class="body_home">

    <div class="container mt-4">
    <h3 class="mb-4">Éditer un produit</h3>

    <div class="flex-div">

        {{ include('admin/product/_form.html.twig', {'button_label': 'Vendre'}) }}

        {{ include('admin/product/_delete_form.html.twig') }}

        <a class="btn btn-primary mt-2" href="{{ path('product.index') }}">Retour</a>
    </div>

</div>
</body>
{% endblock %}
