{% extends 'base.html.twig' %}

{% block title %}Changer le produit d'entrepôt{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h3 class="mb-4">Changer le produit d'entrepôt</h3>

        <div class="flex-div">
            <label>
                Entrepôt
            </label>
            {{ include('admin/wharehouse/_form.html.twig') }}
            <a class="btn btn-primary"  href="{{ path('admin.wharehouse.new') }}">Créer un nouvel entrepôt</a>
            <a class="btn btn-primary" href="{{ path('admin.wharehouse.index') }}">Retour</a>
        </div>

    </div>
{% endblock %}
