{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
    <div class="container mt-4">

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData, 'security')  }}
            </div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">       {# name compris par symfony #}
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" class="form-control">       {# name compris par symfony #}
                    <button type="submit" class="btn btn-primary mt-3 mb-2">Se connecter</button>
                    <p>Pas encore de compte ? <a href="{{ path('signup') }}">S'inscrire</a></p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}