{% extends 'base.html.twig' %}

{% block title 'Pannel administrateur' %}

{% block body %}
    <div class="p-2">
        <p><a href="{{ path('admin.product.index') }}">Gestion des produits</a></p>
        <p><a href="{{ path('admin.user.verification.index') }}">Gestion des marchands</a></p>
        <p><a href="{{ path('admin.wharehouse.index') }}">Gestion des entrepôts</a></p>
    </div>
{% endblock %}