{% extends 'base.html.twig' %}

{% block title 'Pannel administrateur' %}

{% block body %}
    <p class="p-2"><a href="{{ path('admin.product.index') }}">Gestion des produits</a></p>
{% endblock %}