{% extends 'base.html.twig' %}

{% block title 'Pannel administrateur' %}

{% block body %}
    <div class="container mt-4">
        <div class="p-2" id="div">
            <p><a id="button" href="{{ path('admin.product.index') }}">Gestion des produits</a></p>
            <p><a id="button" href="{{ path('admin.user.verification.index') }}">Gestion des marchands</a></p>
            <p><a id="button" href="{{ path('admin.order.index') }}">Gestion des commandes</a></p>
            <p><a id="button" href="{{ path('admin.wharehouse.index') }}">Gestion des entrepôts</a></p>
        </div>

    </div>
{% endblock %}