{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h3 class="mb-4">Simulation de vente</h3>

    {{ include('admin/product/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('product.index') }}">Retour</a>
{% endblock %}
