{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h3 class="mb-4">Simulation de vente</h3>

        {{ include('/merchant/product/_form.html.twig') }}

        <a id="button" href="{{ path('merchant.product.index') }}">Retour</a>


    </div>

{% endblock %}