<form method="post" action="{{ path('admin.user.verification.delete', {'id': user_verification.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer la demande ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_verification.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
