{% extends 'base.html.twig' %}

{% block title %}Ajouter un modèle{% endblock %}

{% block body %}
    <h3 class="mb-4">Ajouter un modèle</h3>

    <div class="w-25 mb-2">
        {{ include('admin/model/_form.html.twig') }}
    </div>

    <a class="btn btn-primary" href="{{ path('admin.category.index') }}">Retour</a>
{% endblock %}
